<div>
    <img src="assets/imgs/backgroundImg.png" alt="Imagen de fondo notas">
    <section class="container__createUser">
    <section class="container__userDates">
        <div class="title__todo">
            <h2>[TO-DO]</h2>
        </div>
        <div>
            <h2>¡Hola! <br> ¿Como quieres que te llamemos?</h2>
        </div>
        <div>
            <input type="text" placeholder="Apodo" name="inputNombre"[(ngModel)]="inputNombre" title="Nombre">
            <input type="button" value="Guardar" (click)="crearUsuario()" title="Guardar">
        </div>
    </section>
</section>
</div>